
.allert, .allert_tell {
    position: absolute;
    z-index: 20;
    top: 15px;
    right: 18px;
    display: block;
    height: 20px;
    color: #FF6565;
    cursor: default;
}

.er_border, .error {
    border: 1px solid red!important;
}

.allert:hover, .allert_tell:hover{
    text-decoration : none;
}

.allert span, .allert_tell span {
    display: none;
    opacity: 0;
    padding : 5px;
    margin-left : 5px;
    color:#000;
    font-style:italic;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    min-width: 140px;
    text-align: left;
}

.allert:hover span, .allert_tell:hover span {
    border : 1px solid #FF6565;
    background : #fff;
    display : inline;
    position : absolute;
    color : #4e4e4e;
    right:24px;
    top:-6px;
    opacity: 1;
}

.field {
    position: relative;
    float: left;
    .allert{
        .fa-exclamation-triangle{
            display: block;
            background-size: 100%;
            width: 25px;
            height: 25px;
        }
    }
}

.jb_input .field {
    width: 100%;
}

.jb_input {
 /*   overflow: hidden;*/
}

.jb_input .tooltip-arrow {}
.jb_input .mess_error {position: relative; width: 100%; padding: 5px 0px; top: -5px; float: left;}
a{
    text-decoration: none;
    outline: none;
    &:hover,&:focus{
        text-decoration: none;
        outline: none;
    }
}

.clearfix{
    &:after{
        clear: both;
    }
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
}

.icon{
    display: inline-block;
}

.btn{
    display: inline-block;
    transition: .2s all;
}

.icon-present{
    width: 12px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANBAMAAABvB5JxAAAAAXNSR0IB2cksfwAAABJQTFRFAAAA/4oA/48A/4kA/4kA/4oAXcHa1AAAAAZ0Uk5TAP8Q0KCwHDSt1wAAAC9JREFUeJxjYIABRgECFJOhoKCwAgODsqCgEZgL4ggwqAQxMDKAlcEpQTBgoCoAADa3AspM5u66AAAAAElFTkSuQmCC);
}

.icon-login{
    width: 12px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANBAMAAABvB5JxAAAAAXNSR0IB2cksfwAAAA9QTFRFAAAA/4oA/48A/4kA/4kAI+YODgAAAAV0Uk5TAP8Q0KBXpsXHAAAAKUlEQVR4nGNggAJGQUFBASAFZCIoBiYIxawApIAqHBA8mByqBqgpNAAA2ygByo5WgxIAAAAASUVORK5CYII=);
}

.icon-phone-grey{
    width: 13px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAAXNSR0IB2cksfwAAAEVQTFRFAAAAgI+PgIePgIePf4iQgImPfoePfoePf4iQgImPf4iQf4iQfoiPgIePf4iQfoiPfomRfoePfoePfoiPf4iQf4iQfoiRNY37mAAAABd0Uk5TABBAIM9QwOC/cP/v8GCvsH+ggNDfn2/Pz65HAAAAbElEQVR4nEWM0RbCIAxDkyIwMhgi0///VItn6n2gJ7ktAOFYwAfeor8pb7ZS0e7WaLWtVjqAnu+sbofUgRbSw5JPqXg3Q2UOYNXphyN2S7a+0RN/ukf+Eqd0vrbjaujW2eOlS11xfvfZRi/EGywcA5ho3/ofAAAAAElFTkSuQmCC);
}

.icon-phone-big{
    width: 33px;
    height: 33px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAMAAABgOjJdAAAAAXNSR0IB2cksfwAAAFFQTFRFAAAA3d3d3d3d3d3d3Nzc39/f3d3d3d3d3d3d3d3d3Nzc3Nzc3Nzc3d3d3Nzc3d3d3d3d3Nzc39/f3d3d39/f3Nzc3Nzc3d3d39/f3d3d3d3dg/L9wwAAABt0Uk5TAO/fn18QgND/f69gUM+gkOC/IHAwwLDwQI9v/4Vu/QAAAUJJREFUeJyVksuCgyAMRUEL3ErBF0g7//+hI0QUmLqYLJTE401Cwtj/jXf940tYXEepgO4p6s8DMBQhoRX4qwQM7AhT/fWa0JeAZkw3iLBXYI5AgSy5Hhg6rJB0OBAH3rsDoUR+ysIaNsqvG9AnOYtULvyZ24Ley0ZyYuKiJuZwySXklSrwJof7XNGZkU1dkhYZsEW3G1wCdVRKzbKxAthCZcenCDP1xFll5Ksu/ewos6yIFfHqpEp6JKK4KwlReBbv+HKhnkxJB3N0ON8Q52hkMfHGPOXZ8x2L9MmjufJwmvm+SC5tzGabfXHZ1wHPxcR7alfq2p99j+l2bxGmvWxDp7+w2jTGxufvBskrdZYb8Kkj10odJjZ0pcxPM8xoa8B8MiPUH2CXkcD8SC08sX2f5GIDYIahg78b9d6V9YDSh/cLQ74OByi9skYAAAAASUVORK5CYII=);
}

.icon-teleg{
    width: 38px;
    height: 32px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAgCAMAAABJuvqBAAAAAXNSR0IB2cksfwAAAFFQTFRFAAAA39/f3d3d3d3d39/f3d3d3d3d3d3d3Nzc3Nzc3Nzc3d3d3Nzc39/f3d3d3d3d3d3d39/f3d3d3Nzc3d3d3Nzc3d3d3Nzc3Nzc3d3d3d3dn0MdxQAAABt0Uk5TAECf7yB/3/+wX6/wYDCP4NAQz6BwUIC/wG+QWO9AswAAAWFJREFUeJyNk9uSgyAQREGQxoyIqCDr/3/ogpqEeNlsP6hFNVNnph3GvopX4qtH1grQX0zNAwCh/ctjOmF7oOdwtx7XDNBtBYxuHO9MvIKdnBdAYEz4O2oaDZMzgRKVpxvq2CaYHxFnMulAL5fUi8wfM01Dn9EdzAX1xlFj4WJcG2ztBfX2OVjeZvisYTpRb0U7BNfRPlIJeaRe5VVv3IOeQCEeqLdSD5qY3OBXqb0qoWi4EVEys8OvRZ5BuQXVXiwNNN1tUUAXQUmNOt+phU6vjspsPoLiUfyYNIXMZstpHoNqLZZUqoTP0sefwyA/xOfxKSjGwJnHIeVDUFlxYoG2Xl6aw8m2aKZD6qUwFkG95BWL6bK3qnkeTf3Jla46xVcg2t7voD5EHHlwFXOB5mw0lxsVxzQTN+SRuDEHuFxucRDYXWwNsLveKI/eqPd4ebzcqNSDEreLW8jiP65zzoV+AXcyERpYx8ipAAAAAElFTkSuQmCC);
}

.icon-korz{
    width: 24px;
    height: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABeklEQVQ4y61UwY3jMAwcGgvouSnhroNcB94O0sGmg7M/sfXzj5Q/uhJ2O8hVkJTgEpIO/HQERNyP95A4DnBxPIAeFMfkaCyKnHMZgFcAIKK/m82mwYxIACDGSDHGn+fzOZuz+BXqul6KyKzqbyAi7dw1k8tAVRtmTuds8DKI90S0E5FZiqvq8WrDObcSke2QKCL6SAwAzFyJyJ+rE8QYGwDLZ5V77xen0+m3qv6iEbUt+rl40p5Pa+36JiEi2+GPftQiZj7Udb0EBreo79wASDERzLwGcPh+EWiEkBLR7kl73qy1+9Gk934xHLj/tYiZU2Y+XOZuLMrzvFXVlpl/TBBf9esfaIzFzB9E9D7BmqO1doqw6aB7CefcSlVTADDGVHmet0NOP1AVABDRviiK7ZCT3GugqmlZlpkxpgohrMc4XddlxpiqLMssxrgc49xt8K2w67pV/4TcfpwkTQgh9d4viGjxUIML5Yd7d7ooim2MsQ0hrI0x1RjnC/o1yiF49r2BAAAAAElFTkSuQmCC);
}

.icon-shapka{
    width: 30px;
    height: 18px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAASCAMAAAB7LJ7rAAAAAXNSR0IB2cksfwAAAFFQTFRFAAAAdXV1eHh4dnZ2d3d3d3d3d3d3cHBwdnZ2dnZ2eHh4dnZ2d3d3dnZ2d3d3dnZ2d3d3dnZ2d3d3eHh4dnZ2dnZ2dXV1dnZ2d3d3d3d3dnZ2MTT9cwAAABt0Uk5TADBgz//fbxDvfyCPn1C/X/DgkECAwD+gsNBwA46tQQAAAKxJREFUeJx9kNsOhCAMRBGLFVZWLgKu//+hWzEqBON5IMBM02kZq+nYC7wHMeCzhoOAnVE+GNRnhJPG0E1QURn0FxpOA86iFS9DZ663dV4xpd31M2qqXmy+B0/5YoxUwrPBpGMJfg1gPcU7sguJGODHz3B+YQqZK7rycnsk01HFKofe+lc5GXyTecrVSeeG6DdbySvs1aLwV/KBM5OkseMs+30FDchdIBxX998fdmEI6emlCCYAAAAASUVORK5CYII=);
}

.icon-arrow-grey{
    width: 5px;
    height: 9px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJAQMAAADAY3TdAAAAAXNSR0IB2cksfwAAAAZQTFRFrKysAAAAedO8cAAAAAJ0Uk5T/wDltzBKAAAAGklEQVR4nGOoYNjBcIPhBcMHIL4BZFcwEAEAMtUG0YRA9KUAAAAASUVORK5CYII=);
}