@import "bourbon";
@import "vars";
@import "fonts";


.shake{
  animation-name: shake;
  animation-timing-function: ease;
  animation-duration: .4s;
}

@include keyframes(shake){
  from{
    transform: translateX(0px);
  }
  20%,60%{
    transform: translateX(-10px);
  }
  40%,80%{
    transform: translateX(10px);
  }
  to{
    transform: translateX(0px);
  }
}

@if $adaptive == true {
  @media (max-width: 480px){

  }
}

html{
  overflow: hidden;
}

body{
  font-family: 'Open Sans', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.advert-line{
  box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.25);
  background-color: #38a5ac;
  text-align: center;
  @if $adaptive == true {
    @media (max-width: 848px){
      padding-bottom: 4px;
    }
    @media (max-width: 669px){
      padding-bottom: 12px;
    }
    @media (max-width: 415px){
      padding: 8px 0;
    }
  }
  img{
    vertical-align: middle;
    margin-right: 70px;
    @if $adaptive == true {
      @media (max-width: 998px){
        margin-right: 30px;
      }
      @media (max-width: 848px){
        display: none;
      }
    }
  }
  h6{
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    @if $adaptive == true {
      @media (max-width: 947px){
        margin-right: 30px;
      }
      @media (max-width: 848px){
        margin-bottom: 0;
      }
      @media (max-width: 669px){
        margin-right: 0;
      }
      @media (max-width: 515px){
        font-size: 18px;
      }
      @media (max-width: 415px){
        font-size: 19px;
        width: 157px;
        line-height: 24px;
      }
    }
    span{
      font-size: 30px;
      font-weight: 400;
      @if $adaptive == true {
        @media (max-width: 515px){
          font-size: 24px;
        }
        @media (max-width: 415px){
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  .btn-white{
    vertical-align: middle;
    @if $adaptive == true {
      @media (max-width: 669px){
        margin: 0 20px;
        margin-top: 5px;
      }
      @media (max-width: 415px){
        margin-top: 0;
        margin-right: 0;
      }
      @media (max-width: 338px){
       margin: 10px;
      }
    }
  }
  .arrow{
    margin: 0 30px;
    margin-left: 40px;
    @if $adaptive == true {
      @media (max-width: 998px){
        margin: 0 30px;
      }
      @media (max-width: 947px){
        display: none;
      }
    }
  }
}

.btn-white{
  box-shadow: 0 2px 0 #006666;
  background-color: #ffffff;
  color: #263139;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 7px 29px;
  border-radius: 3px;
  &:hover,&:focus{
    background-color: darken(white, 30);
    color: white;
  }
}

.logo{
  width: 196px;
  display: inline-block;
  vertical-align: middle;
  p{
    color: #7f8890;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}

.btn-header{
  border: 1px solid rgba(141, 151, 160, 0.3);
  background-color: #ffffff;
  width: 190px;
  height: 40px;
  text-align: center;
  padding: 7px 0;
  border-radius: 30px;
  &:hover,&:focus{
    background-color: rgba(141, 151, 160, 1);
    span{
      color: white;
    }
  }
  i{
    vertical-align: middle;
    margin-right: 10px;
  }
  span{
    color: #7f8890;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    transition: .2s all;
  }
}

.header-top{
  padding: 15px 0;
  @if $adaptive == true {
    @media (max-width: 920px){
      padding: 25px 0;
    }
  }
  .calls{
    margin-left: 100px;
    @if $adaptive == true {
      @media (max-width: 1070px){
        margin-left: 50px;
      }
      @media (max-width: 1000px){
        margin-left: 20px;
      }
      @media (max-width: 920px){
        margin-top: 25px;
      }
      @media (max-width: 810px){
        margin-left: 0;
      }
      @media (max-width: 495px){
        margin: 0 auto;
        margin-top: 25px;
        display: block;
        width: 245px;
      }
    }
  }
  .logo{
    @if $adaptive == true {
      @media (max-width: 495px){
        display: block;
        margin: 0 auto;
      }
    }
  }
  .mail{
    margin-left: 60px;
    @if $adaptive == true {
      @media (max-width: 1070px){
        margin-left: 50px;
      }
      @media (max-width: 1000px){
        margin-left: 20px;
      }
      @media (max-width: 920px){
        margin-left: 90px;
        margin-top: 25px;
      }
      @media (max-width: 810px){
        margin-left: 0;
        i{
          margin-right: 15px;
        }
      }
      @media (max-width: 495px){
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        width: 245px;
      }
    }
  }
  .header-right-block{
    margin-top: -8px;
    float: right;
    @if $adaptive == true {
      @media (max-width: 920px){
        margin-top: 8px;
        width: 560px;
        display: inline-block;
        vertical-align: middle;
        .btn-phone-grey{
          float: left;
          margin-top: 7px;
        }
        .btn-header{
          float: right;
          margin: 0;
        }
        .btn-present{
          float: none;
          margin: 0;
        }
      }
      @media (max-width: 810px){
        width: 190px;
        margin-top: -8px;
        .btn-phone-grey{
          float: none;
          margin-top: 5px;
        }
        .btn-header{
          float: none;
          margin: 2.5px 0;
        }
        .btn-present{
          float: none;
          margin: 2.5px 0;
        }
      }
      @media (max-width: 495px){
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 25px;
      }
    }
  }
}

.header-right-block{
  width: 190px;
  text-align: center;
  .btn-header{
    margin: 2.5px 0;
  }
  .btn-phone-grey{
    margin-top: 5px;
  }
}

.btn-present{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    margin-top: -3px;
    right: 12px;
    width: 7px;
    height: 4px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEAQMAAAB4CLc+AAAAAXNSR0IB2cksfwAAAAZQTFRFIS43AAAAepo+IQAAAAJ0Uk5T/wDltzBKAAAAE0lEQVR4nGNgYGhiOMbwjgEHAAA6+gI3rHOpUwAAAABJRU5ErkJggg==);
  }
}

.btn-phone-grey{
  span{
    color: #7f8890;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    transition: .2s all;
  }
  i{
    vertical-align: middle;
    margin-right: 7px;
    transition: .2s all;
  }
  &:hover,&:focus{
    i{
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAA4UlEQVQoz4XQwVHDQAyF4W/dACnBHZAOMBWQEkwFhIvP4boX0kFSgjtISoAOUkKoYLlomcWTAZ000vv1JIGSrSyiZEPJejeiC+BUss2it8O5ZKeSDb8gjFjjsHDcRf0Nc8nGFqoOKxwaaIsPPKDHvjp2uDTC1OQzBjzGgE2463BuhG0+BDg2rn3J+i4aXyF8qXelyRjCdQxbx1Z9ivdu8R7gMU2e/RE/N5RsxlMF8Zom1/+gVaxxH6UL9vGAK57rkPZbFTw2jm1UcE43mvXGHe4WrU8MN6HGdROvr6sf0+T6DR+cSF3Xzx23AAAAAElFTkSuQmCC);
    }
    span{
      color: #ff8a00;
    }
  }
}

.calls{
  display: inline-block;
  vertical-align: middle;
  i{
    vertical-align: middle;
    margin-right: 15px;
  }
}

.calls-top{
  line-height: 24px;
  color: #263139;
  @if $adaptive == true {
    @media (max-width: 920px){
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }
    @media (max-width: 495px){
      display: block;
      margin-right: 0;
    }
  }
  span{
    font-size: 12px;
    font-weight: 300;
  }
  p{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.calls-bot{
  line-height: 24px;
  opacity: 0.7;
  color: #263139;
  margin-top: 5px;
  @if $adaptive == true {
    @media (max-width: 920px){
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
    }
    @media (max-width: 495px){
      display: block;
      margin-right: 0;
      margin-top: 5px;
    }
  }
  span{
    font-size: 12px;
    font-weight: 300;
  }
  p{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }
}

.calls-right{
  display: inline-block;
  vertical-align: middle;
}

.mail{
  display: inline-block;
  vertical-align: middle;
  i{
    vertical-align: middle;
    margin-right: 10px;
  }
  span{
    vertical-align: middle;
    color: #263139;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}

.header-mnu{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #efefef;
  margin-top: -5px;
  position: relative;
  ul{
    margin-left: -14.5px;
    @if $adaptive == true {
      @media (max-width: 1175px){
        width: 320px;
        position: absolute;
        background-color: #38a5ac;
        top: 0;
        left: -100%;
        z-index: 1;
        transition: .5s all;
        margin-left: 0;
        &.is-active{
          left: 0;
        }
      }
    }
    li{
      a{
        color: #444444;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        float: left;
        padding: 13px 14.5px;
        border-bottom: 2px solid transparent;
        transition: .2s all;
        @if $adaptive == true {
          @media (max-width: 1175px){
            float: none;
            display: block;
            text-align: center;
            color: white;
            border-bottom: 1px solid white;
            background-color: #38a5ac;
            &:hover,&:focus{
              background-color: darken(#38a5ac, 10);
            }
          }
        }
        &:hover,&:focus{
          border-color: #f57c00;
          @if $adaptive == true {
            @media (max-width: 1175px){
              border-color: white;
            }
          }
        }
      }
    }
  }
  .btn-korz{
    margin: 13px 0;
    margin-right: 12px;
    float: right;
    @if $adaptive == true {
      @media (max-width: 1200px){
        margin-right: 0;
      }
    }
  }
}

.btn-korz{
  display: inline-block;
  position: relative;
  i{
    transition: .2s all;
  }
  &:hover,&:focus{
    i{
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABIElEQVQ4y62VwXGDMBBF3zK5hxKSDpwOSAd0EHcQTjpz3lNKSDpwKjAlUALugA7WB4vBFlImgP4Mwyza2f/1Wa3ElAZ45oZfcfRkROHfArwCTc7iDzDlYJpXfYxkzF2zCOLelConwVMQd8DZNFv9y0NkSm3KKcwyxdbE/ltryle4gx447JVtSgl8Am8SWRyZz8Ue/IjjGGM/hT96rUWmDKY3JwqW6GF7J5lyBIZpIsQsqoDzTnvexdGlFJThgfuvRaZUpgz3awuLxDECoykvG5S3/pnrJXbxDXxsILiI2yRsOyS1YErN3E2tty7MKe8s6cQtp0CsTSdU4mh8gWMip/HkDYkJ8BfBpLCG5D3RA5XPK9cSTMqHVE97S0af18ZyrqKqceapL27uAAAAAElFTkSuQmCC);
    }
  }
  &.btn-korz-active{
    .orange-circle{
      display: block;
      width: 14px;
      height: 14px;
      box-shadow: 0 2px 3px rgba(242, 101, 34, 0.6);
      background-color: #f57c00;
      position: absolute;
      top: -5px;
      right: -8px;
      border-radius: 50px;
      text-align: center;
      color: #ffffff;
      font-size: 8px;
      font-weight: 700;
      line-height: 14px;
    }
  }
  .orange-circle{
    display: none;
  }
}

.hamburger{
  display: none;
  width: 30px;
  position: absolute;
  top: 14px;
  left: 15px;
  z-index: 2;
  span{
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background: #888888;
  }
  @if $adaptive == true {
    @media (max-width: 1175px){
      display: block;
      span{
        transition: .4s all;
      }
      &.is-active{
        span{
          background: white;
        }
        span:first-child{
          transform: rotate(45deg) translateX(6px) translateY(6px);
        }
        span:nth-child(2){
          transform: rotate(-45deg) translateX(-1px) translateY(0px);
        }
        span:last-child{
          opacity: 0;
        }
      }
    }
  }
}

.bread-line{
  background-color: #f9f9f9;
  padding: 29px 0;
  border-bottom: 1px solid #efefef;
  @if $adaptive == true {
    @media (max-width: 450px){
      padding: 20px 0;
    }
  }
  .name-razdel{
    margin-left: 15px;
    @if $adaptive == true {
      @media (max-width: 1200px){
        margin-left: 0;
      }
    }
  }
  .bread-crumbs{
    float: right;
    @if $adaptive == true {
      @media (max-width: 450px){
        float: none;
        margin-top: 15px;
      }
    }
  }
}

.name-razdel{
  display: inline-block;
  i{
    vertical-align: middle;
    margin-right: 15px;
  }
  span{
    color: #777777;
    font-size: 24px;
    font-weight: 300;
    line-height: 18px;
    vertical-align: middle;
  }
}

.bread-crumbs{
  a{
    color: #ababab;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    vertical-align: middle;
    transition: .2s all;
    &:hover,&:focus{
      color: darken(#ababab, 50);
    }
  }
  i{
    vertical-align: middle;
    margin: 0 8px;
  }
}

.main-content-left{
  padding-top: 40px;
  @if $adaptive == true {
    @media (max-width: 1199px){
      padding-top: 20px;
    }
    @media (max-width: 767px){
      padding-top: 0;
    }
  }
}

.main-item{
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 30px;
  padding-top: 8px;
  transition: .2s all;
  &:hover,&:focus{
    box-shadow: 0 0 25px #e1e1e1;
    background-color: #ffffff;
  }
  p{
    color: #263139;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
}

.main-item-img{
  height: 140px;
  position: relative;
  img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.main-content-right{
  background-color: #f7f7f7;
  height: 1000px;
  padding-left: 10px;
  padding-top: 35px;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -139%;
    width: 139%;
    height: 100%;
    background-color: #f7f7f7;
  }
}

.search{
  position: relative;
  &:after{
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    margin-top: -7px;
    right: 10px;
    background-image: url("../img/search.png");
    width: 13px;
    height: 14px;
  }
  input{
    width: 100%;
    height: 40px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding-left: 15px;
    outline: none;
    transition: .2s all;
    &:hover,&:focus{
      border-color: darken(#e8e8e8, 20);
    }
    @include placeholder{
      color: #b0abb3;
      font-size: 12px;
      font-weight: 300;
      line-height: 10px;
    }
  }
}









