footer
    .inner
        .container-fluid
            .row
                .col-lg-3.col-sm-6
                    .f-item-1
                        a.btn.btn-vtop(href="#" rel='m_PageScroll2id')
                            i.icon.icon-arrow-vtop
                        .f-in
                            a.logo(href="#")
                                img(src="img/logo-foot.png")
                                p IP-телефония на базе Asterisk
                            .foot-item.foot-item-mod
                                i.icon.icon-phone-foot
                                .foot-item-right
                                    h6
                                        span В Москве:
                                        br
                                        |  8 (495) 989-85-33
                                    p
                                        | РФ (Звонок бесплатный):
                                        br
                                        |  8 (800) 333-75-33
                            .foot-item
                                i.icon.icon-mail-foot
                                .foot-item-right
                                    p team@voxlink.ru
                            .foot-item
                                i.icon.icon-geo-foot
                                .foot-item-right
                                    p г.Москва, ул. Гостиничная д. 3 офис 314.
                            img.map-foot(src="img/map-foot.jpg")
                            br
                            a.btn.btn-foot(href="#") Найти нас на карте
                .col-lg-3.col-sm-6
                    .f-item-2
                        .f-in
                            h4.orange-dot Новые статьи
                            .new-content.new-content-mod
                                a.new-item(href="#")
                                    img(src="img/new-item1.jpg")
                                    .new-block
                                        p
                                            | Вызов оператора
                                            | очереди во время
                                            | проигрывания приветствия.
                                        .date
                                            i.icon.icon-new1
                                            span 29.03.2017
                                a.new-item(href="#")
                                    img(src="img/new-item2.jpg")
                                    .new-block
                                        p
                                            | Telegram callback
                                        .date
                                            i.icon.icon-new1
                                            span 29.03.2017
                                a.new-item(href="#")
                                    img(src="img/new-item3.jpg")
                                    .new-block
                                        p
                                            | Мониторинг Asterisk
                                            | средствами Pandora
                                            | FMS
                                        .date
                                            i.icon.icon-new1
                                            span 29.03.2017
                            h5.orange-dot
                                |Подпишийтесь и получайте
                                br
                                |  только свежие новости и материалы
                            .just-mail.form-block
                                form.form-shake
                                    input(type="text" name="e-mail" placeholder="Введите ваш email" required)
                                    button.btn.btn-mail(name="send")
                                        i.icon.icon-arrow-mail
                .col-lg-3.col-sm-6
                    .f-item-3
                        .f-in
                            h4.orange-dot Популярные теги
                            a.btn.btn-tag(href="#") сервер
                            a.btn.btn-tag(href="#") asterisk
                            br
                            a.btn.btn-tag(href="#") настройка
                            a.btn.btn-tag(href="#") Подключение
                            br
                            a.btn.btn-tag(href="#") Channel
                            a.btn.btn-tag(href="#") outbound
                            br
                            a.btn.btn-tag(href="#") Event
                            a.btn.btn-tag(href="#") call
                            a.btn.btn-tag(href="#") Event
                            br
                            a.btn.btn-tag(href="#") сервер
                            a.btn.btn-tag(href="#") asterisk
                            br
                            a.btn.btn-tag(href="#") Channel
                            a.btn.btn-tag(href="#") Подключение
                            br
                            a.btn.btn-tag(href="#") Channel
                            a.btn.btn-tag(href="#") outbound
                            br
                            a.btn.btn-tag(href="#") call
                            a.btn.btn-tag(href="#") sip
                .col-lg-3.col-sm-6
                    .f-item-4
                        .f-in
                            h4.orange-dot Связаться с нами
                            .foot-form.form-block
                                form.form-shake
                                    input(type="text" name="name" placeholder="Имя" required)
                                    input(type="text" name="e-mail" placeholder="Email" required)
                                    textarea(name="comment" placeholder="Сообщение" required)
                                    button.btn.btn-orange(name="send") Отправить
                            .social
                                h4.orange-dot Присоединяйтесь  к нам
                                a.btn.btn-vk(href="#")
                                a.btn.btn-you(href="#")
                                a.btn.btn-fb(href="#")
                                a.btn.btn-inst(href="#")
.footer-line
    .inner
        .container-fluid
            .row
                .col-md-12
                    .pull-left
                        p @ 2011-2017 ООО "Вокс Линк" Установка и настройка Asterisk. IP-телефония для офиса и Call-центры., ИНН: 7715856113, ОГРН: 1117746186084. Все права защищены.
                    .pull-right
                        a(href="#") Политика конфиденциальности
script.
    var scr = {"scripts":[
        {"src" : "js/libs.js", "async" : false},
        {"src" : "js/common.js", "async" : false}
    ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
    // Load Scripts End