.advert-media
    .advert-line
        .inner
            .container-fluid
                .row
                    .col-md-12
                        img(src="img/face.png")
                        h6 Курсы по Asterisk
                            span  c 29 мая по 3 июня
                        img.arrow(src="img/arrow.png")
                        a.btn.btn-white(href="#") Записаться
header
    .header-top
        .inner
            .container-fluid
                .row
                    .col-md-12
                        a.logo(href="#")
                            img(src="img/logo.png")
                            p IP-телефония на базе Asterisk
                        .header-right-block
                            a.btn.btn-header(href="#")
                                i.icon.icon-login
                                span Вход для клиентов
                            a.btn.btn-header.btn-present(href="#")
                                i.icon.icon-present
                                span наши Презентации
                            a.btn.btn-phone-grey(href="#")
                                i.icon.icon-phone-grey
                                span Обратный звонок
                        .calls
                            i.icon.icon-phone-big
                            .calls-right
                                .calls-top
                                    span В Москве:
                                    p 8 (495) 989-85-33
                                .calls-bot
                                    span РФ (Звонок бесплатный):
                                    p 8 (800) 333-75-33
                        .mail
                            i.icon.icon-teleg
                            span team@voxlink.ru
    .header-mnu
        .inner
            .container-fluid
                .row
                    .col-md-12
                        .hamburger
                            span
                            span
                            span
                        ul
                            li
                                a(href="#") Услуги
                            li
                                a(href="#") База знаний
                            li
                                a(href="#") Функции
                            li
                                a(href="#") IP-АТС
                            li
                                a(href="#") Колл-центр
                            li
                                a(href="#") CRM
                            li
                                a(href="#") Номера
                            li
                                a(href="#") продукты
                            li
                                a(href="#") Обучение
                            li
                                a(href="#") Внедрение
                            li
                                a(href="#") Оборудование
                            li
                                a(href="#") Цены
                            li
                                a(href="#") О нас
                        a.btn-korz.btn-korz-active(href="#")
                            i.icon.icon-korz
                            .orange-circle 2
