extends layouts/html.jade
block content
    .main-content
        .inner
            .container-fluid
                .row
                    .col-lg-9.col-md-8.col-xs-12
                        .main-content-left
                            .row
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item1.png")
                                        p Linux
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item2.png")
                                        p Интеграция с CRM
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item3.png")
                                        p Использование Elastix
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item4.png")
                                        p Установка Asterisk
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item5.png")
                                        p Настройка Asterisk
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item6.png")
                                        p Настройка IP-телефонов
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item7.png")
                                        p Настройка VoIP-оборудования
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item8.png")
                                        p Подключение операторов связи
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item9.png")
                                        p Использование FreePBX
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item10.png")
                                        p Интеграция с другими АТС
                                .col-md-4.col-sm-6
                                    a.main-item(href="#")
                                        .main-item-img
                                            img(src="img/item11.png")
                                        p Новости и статьи
                                .col-md-4.col-sm-6
                    .col-lg-3.col-md-4.col-xs-12
                        .main-content-right
                            .search
                                input(type="text" name="search" placeholder="Поиск")