extends layouts/html.jade
block content
    .bread-line
        .inner
            .container-fluid
                .row
                    .col-md-12
                        .name-razdel
                            i.icon.icon-partners-bread
                            span Партнеры
                        .bread-crumbs
                            a(href="#") Главная
                            i.icon.icon-arrow-grey
                            a(href="#") О нас
                            i.icon.icon-arrow-grey
                            a(href="#") Контакты

    .partners-content
        .inner
            .container-fluid
                .row
                    .col-md-12
                        .partners-block
                            .partners-left
                                h2 Партнеры
                                p
                                    |The redistribution of the budget neutralizes the institutional target market segment. The business plan paradoxically changes the role of the media channel. Changing the global strategy, discarding details, covers a constructive marketing tool. The placement plan actively accelerates the role-playing side-effect PR-effect. The method of studying the market, of course, orders the industry standard, realizing marketing as a part of production.
                        .partners-items
                            a.p-item.p-item1(href="#")
                                .p-item-rad
                                    i.icon.icon-par-or1
                                h4 Операторы связи
                                p Организации, имеющие собственную телекоммуникационную инфраструктуру и подключающее к своей сети абонентов.
                            a.p-item.p-item2(href="#")
                                .p-item-rad
                                    i.icon.icon-par-or2
                                h4 Информационные системы
                                p Если Вы являетесь разработчиком такой системы и планируете интегрировать её с Asterisk, то обращайтесь к нам для сотрудничества.
                            a.p-item.p-item3(href="#")
                                .p-item-rad
                                    i.icon.icon-par-or3
                                h4 Отраслевые решения
                                p Система IP-телефонии на базе Asterisk идеальна в плане возможности интеграции с разнообразными системами, используемыми в предприятиях.
                            a.p-item.p-item4(href="#")
                                .p-item-rad
                                    i.icon.icon-par-or4
                                h4 Поставщики оборудования
                                p Если Вы являетесь поставщик оборудования и готовы сделать для нас выгодное предложение, свяжитесь с нами любым удобным для Вас способом.
                            a.p-item.p-item5(href="#")
                                .p-item-rad
                                    i.icon.icon-par-or5
                                h4 Сообщество Asterisk
                                p Asterisk — это открытое ПО. Благодаря этому появилось множество сайтов и форумов, на которых можно почерпнуть полезную информацию о Asterisk.
                            .p-item.p-item-mod
                                h4 Хотите стать партнёром?
                                p Ознакомьтесь с условиями сотрудничества.
                                a.btn.btn-item(href="#") Ознакомиться
    .clients
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        h2
                            | Наши
                            br
                            | клиенты
                        .clients-content
                            .clients-item.clients-item1
                                img(src="img/client1.png")
                            .clients-item.clients-item2
                                img(src="img/client2.png")
                            .clients-item.clients-item3
                                img(src="img/client3.png")
                            .clients-item.clients-item4
                                img(src="img/client4.png")
                            .clients-item.clients-item5
                                img(src="img/client5.png")
                            a.btn.btn-clients(href="#")
                                | Посмотреть все
                                i.icon.icon-2arrow
